﻿
@*@{
    ViewData["Title"] = "FileNotfound";
}*@
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->

    <link rel="stylesheet" href="https://192.168.1.41:5001/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://192.168.1.41:5001/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://192.168.1.41:5001/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://192.168.1.41:5001/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://192.168.1.41:5001/css/cpp.css">


    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://192.168.1.41:5001/dist/css/skins/_all-skins.min.css">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://192.168.1.41:5001/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box1" style="position:relative;">
                <div class="col-sm-12">
                    <span class="login100-form-avatar">
                        <img src="https://india.cppdirect.com/media/96628/cpp-group-india-logo.svg" alt="AVATAR">
                        <h1>Sorry, The Link has Expired.</h1>
                    </span>
                    
                       
                   
                    </div>
                    @*<div class="log-im">
                <img src="https://192.168.1.41:5001/Login_v6/images/Login.svg" alt="AVATAR">
            </div>*@
                </div>
            </div>
    </div>

  
    <!-- /.modal -->
</section>
<style>
    .log-im {
        position: fixed;
        top: 0;
        right: 0;
    }

        .log-im img {
            height: 100vh;
        }

    .box1 {
        text-align: center;
        margin-top: 110px;
    }

    form.oppo1 h2 {
        display: block;
        font-size: 40px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 600;
        margin-right: -120px;
    }

    .oppo1 input.btn-primary {
        margin-top: 30px;
        padding: 14px 33px;
        line-height: 17px;
        font-size: 18px;
        text-transform: uppercase;
        border: 0px;
        border-radius: 5px;
        background: #c30078;
        box-shadow: 1px 1px 3px #0000005c;
        margin-left: 129px;
    }

    span.login100-form-avatar {
        margin-bottom: 37px;
        display: block;
        margin-right: -120px;
    }

    .box1 label {
        font-weight: 700 !important;
        margin-top: 17px;
    }
</style>

 
