﻿@model UploadEmployeeApi.Entities.Customer
@{
    ViewData["Title"] = "CPP India";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> @ViewData["Title"] </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
        <link src="https://192.168.1.41:5001/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



        @*<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet">

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>*@


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <script>
            $(function() {
  'use strict';
  var body = $('body');
  function goToNextInput(e) {
    var key = e.which,
      t = $(e.target),
      sib = t.next('input');
    if (key != 9 && (key < 48 || key > 57)) {
      e.preventDefault();
      return false;
    }
    if (key === 9) {
      return true;
    }
    if (!sib || !sib.length) {
      sib = body.find('input').eq(0);
    }
    sib.select().focus();
  }
  function onKeyDown(e) {
    var key = e.which;
    if (key === 9 || (key >= 48 && key <= 57)) {
      return true;
    }
    e.preventDefault();
    return false;
  }
  function onFocus(e) {
    $(e.target).select();
  }
  body.on('keyup', 'input', goToNextInput);
  body.on('keydown', 'input', onKeyDown);
  body.on('click', 'input', onFocus);

})
            function fn_GenerateOTP(input) {
                $("#OTP").val("");
                debugger;
                $.post("/WelcomeCustomer/GenerateOTP", { MemberShip: $("#MembershipNo").val() }, function (res) {
                    //alert(res);
                    if (res == "200")
                    {
                         //  $("#alertqwe").show();
                       // alert("Your One Time Password has been sent to your Registered mobile number")
                           $("#alertmsg").html("Your One Time Password has been sent to your Registered mobile number");
                            showAlert();
                    } else if (res == "500")
                    {
                           $("#alertmsg").html("Something went wrong");
                           showAlert();
                    }
                    debugger;
                });
            }

            function fn_getOTP()
            {

               
                if ($("#firstnum").val() != "" && $("#Secondnum").val() != "" && $("#thirdnum").val() != "" && $("#fouthnum").val() != "") {

                var a= $("#firstnum").val();
                var b=  $("#Secondnum").val();
                var c=$("#thirdnum").val();
                var d=$("#fouthnum").val();
                     $("#OTP").val(a+b+c+d);
                    return true;
                }
                else
                {
                    debugger;
                    if ($("#firstnum").val() == "")
                    {
                     //   $("#alertmsg").html();
                       // document.getElementById("firstnum").style.cursor = "pointer"; 
                        $("#firstnum").focus();
                         return false;
                           // showAlert();
                       }
                    if ($("#Secondnum").val() == "")
                    {
                        $("#Secondnum").focus(); 
                         return false;
                       }
                    if ($("#thirdnum").val() == "")
                    {
                        $("#thirdnum").focus(); 
                         return false;
                       }
                    if ($("#fouthnum").val() == "")
                    {
                        $("#fouthnum").focus();
                         return false;
                       } 
                    return false;
                }
                 

                 
               
                return false;

                 
            }

            function showAlert()
                        {                          
                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                                $("#success-alert").slideUp(500);
                            });
            } 

            function fn_DownloadCustomerFile()
            {
                debugger;
                //var postData= { MembershipNo: $("#MembershipNo").val(), OTP: $("#OTP").val() };
                //$.post('/WelcomeCustomer/RedirectMethod', postData, function (data)
                //{
                //        //   var blob = new Blob(data, { type: 'application/pdf' });  

                //    const link = document.createElement('a');
                //    const file = new Blob([data], { type: 'application/pdf' });

                //    link.href = window.URL.createObjectURL(file);
                //    link.download = `test.pdf`;
                //    document.body.appendChild(link);
                //    link.click();


                //           //var a = document.createElement('a');
                //           //var url = window.URL.createObjectURL(new Blob([data]));
                //           //a.href = url;
                //           //a.download = $("#MembershipNo").val()+'.pdf';
                //           //document.body.append(a);
                //           //a.click();
                //           //a.remove();
                //           //window.URL.revokeObjectURL(url);
                //     }); 
                
                debugger;
                                $.ajax({
                       url: '/WelcomeCustomer/RedirectMethod',
                                    method: 'POST',
                       data: {
                      MembershipNo: $("#MembershipNo").val(),
                      OTP: $("#OTP").val()
                       },
                       xhrFields: {
                           responseType: 'text'
                       },
                       success: function (data) {
                           var a = document.createElement('a');
                           var url = window.URL.createObjectURL(new Blob([data]));
                           a.href = url;
                           a.download = 'myfile.pdf';
                           document.body.append(a);
                           a.click();
                           a.remove();
                           window.URL.revokeObjectURL(url);
                       }
                   });
            }
        </script>
        <style>
            .log-im {
                display: none;
            }

            .box1 {
                text-align: center;
                margin-top: 110px;
            }

            .box-body {
                box-shadow: none !important;
            }

            span.login100-form-avatar {
                margin-bottom: 37px;
                display: block;
                margin-right: -120px;
            }

            .oppo1 input.btn-primary {
                margin-top: 30px;
                padding: 14px 33px;
                line-height: 17px;
                font-size: 18px;
                text-transform: uppercase;
                border: 0px;
                border-radius: 5px;
                background: #c30078;
                box-shadow: 1px 1px 3px #0000005c;
                margin-left: 0 !important;
            }

            .log-im img {
                height: 100vh;
            }

            span.login100-form-avatar {
                margin-bottom: 37px;
                display: block;
                margin-right: -120px;
            }

            form.oppo1 h2 {
                display: block;
                font-size: 40px;
                color: #333333;
                line-height: 1.2;
                text-align: center;
                margin-bottom: 30px;
                letter-spacing: 2px;
                font-weight: 600;
                margin-right: 0px !important;
            }

            .box1 label {
                font-weight: 700 !important;
                margin-top: 17px;
            }

            .oppo1 .form-control {
                border-radius: 0;
                box-shadow: none;
                border-color: #d2d6de;
                height: 40px;
                clear: both;
            }

            .log-im {
                position: fixed;
                top: 0;
                right: 0;
            }

                .log-im img {
                    height: 100vh;
                }

            .box1 {
                text-align: center;
                margin-top: 110px;
                width: 100%;
                float: left;
            }

            form.oppo1 h2 {
                display: block;
                font-size: 40px;
                color: #333333;
                line-height: 1.2;
                text-align: center;
                margin-bottom: 30px;
                letter-spacing: 2px;
                font-weight: 600;
                margin-right: -120px;
            }

            .oppo1 input.btn-primary {
                margin-top: 30px;
                padding: 14px 33px;
                line-height: 15px;
                font-size: 18px;
                text-transform: uppercase;
                border: 0px;
                border-radius: 5px;
                background: #c30078;
                box-shadow: 1px 1px 3px #0000005c;
                color: #fff;
                margin-left: 129px;
            }

            span.login100-form-avatar {
                margin-bottom: 37px;
                display: block;
                margin-right: 0px !important;
            }

            .box1 label {
                font-weight: 700 !important;
                margin-top: 17px;
            }

            \
            .passcode_input_box {
                width: 100%;
            }

            .passcode_input_box .enter_passcode {
                height: 48px;
                width: 48px;
                border: 2px solid #979797;
                border-radius: 5px;
                background-color: #fff;
                color: #444;
                font-family: FSRufus-Bold;
                font-family: var(--main-font-bold);
                font-size: 30px;
                font-weight: 700;
                line-height: 41px;
                text-align: center;
                margin-right: 4px;
                outline: none;
            }
            .alert-danger h4 {
    display: inline;
}
            .alert-danger button.close {
    float: right;
    background: #000000;
    border: 0px;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
}
            .alert-danger {
    background-color: #dd4b39 !important;
    max-width: 371px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: 18px;
    padding: 8px 0px;
}
        </style>
    </head>



<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box1" style="position:relative;">
                
                @if (!string.IsNullOrEmpty(ViewBag.msg))
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            debugger;
                            $("#OTP").val(" ");   
                           
                          //  alert("@ViewBag.msg");
                            $("#alertmsg").html(`@ViewBag.msg`);
                            showAlert();
                        });                        
                                                    
                    </script>
                }
                <div class="box-body">
                   <form class="oppo1" asp-controller="WelcomeCustomer" asp-action="RedirectMethod" style="margin:30px 0px;">
                        @*//asp-controller="WelcomeCustomer" asp-action="Download"*@
                        <div class="row">
                            @Html.HiddenFor(m => m.MembershipNo)
                            @Html.HiddenFor(m => m.OTP)
                            <div class="col-sm-6">


                                <h2> Welcome</h2>

                                <span class="login100-form-avatar">
                                    <img src="https://india.cppdirect.com/media/96628/cpp-group-india-logo.svg" alt="AVATAR">
                                </span>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <h3>Please enter the 4-digit verification code we sent via SMS:</h3>
                                    </div>
                                    <div class="col-sm-9">
                                        @*@Html.TextBoxFor(m => m.OTP, new { @class = "text-input search-input form-control", placeholder = "Enter OTP", @required = "required" })*@
                                        <div class="passcode_input_box float_l">


                                            <input type="text" id="firstnum"  autofocus="autofocus" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="enter_passcode" />
                                            <input type="text" id="Secondnum" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="enter_passcode" />
                                            <input type="text" id="thirdnum" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="enter_passcode" />
                                            <input type="text" id="fouthnum" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="enter_passcode" />



                                        </div>


                                        @*<div class="alert alert-danger alert-dismissible" id="alertqwe" hidden="hidden">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>

                        </div>*@

                                        <div class="alert alert-danger" id="success-alert" hidden="hidden">
                                            <button type="button" class="close" data-dismiss="alert">x</button>
                                            <p><strong id="alertmsg">alert! </strong></p>
                                        </div>

                                    </div>


                                </div>
                                <input type="submit" class="btn btn-primary" value="Verify" onclick="return fn_getOTP()" name="Submit" />
                                <input type="button" class="btn btn-primary" onclick="fn_GenerateOTP(this)" name="OTP" value="REQUEST OTP" />
                            </div>
                            @*<div>
                                Didn't receive the code?<br />
                                <a href="#">Send code again</a><br />
                                <a href="#">Change phone number</a>
                            </div>*@

                        </div>


                        @*<button type="button" asp-controller="WelcomeCustomer" asp-action="Download" asp-area="" asp-route-filename="@Model.MembershipNo" data-toggle="modal" data-target="#modal-default" style="max-width:200px; margin-left:auto; margin-right:auto; margin-top:20px; " class="btn btn-block btn-primary">Submit</button>*@
                    </form>
                </div>
                <div class="log-im">
                    <img src="https://192.168.1.41:5001/Login_v6/images/Login.svg" alt="AVATAR">
                </div>
            </div>
        </div>
    </div>


    <!-- /.modal -->
</section>


<script src="https://192.168.1.41:5001/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>